/* admin-login Page Styles */
.admin-login-content {
    max-width: 400px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 20px;
}

.admin-login-content_title h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.admin-login-content_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-login-content_form-input {
    margin: 25px 0;
}

.admin-login-content_form-input label {
    font-size: 14px;
    color: #333;
}

.admin-login-content_form-input input {
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    background: #f9f9f9;
    border: 1px solid #000;
    border-radius: 4px;
}

.admin-login-content_form-input input:focus {
    border-color: #007bff;
    outline: none;
}

.admin-login-content_form-button {
    text-align: center;
    margin-top: 40px;
}
.admin-login-content_form-button-submit {
    background-color: #000;
    color: #fff;
    width:100%;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-login-content_form-button-submit:hover {
    background-color: #0056b3;
}

.admin-login-content_error {
    color: #e63946;
    font-size: 14px;
}

.admin-login-content_link {
    text-align: center;
    margin-top: 15px;
}

.admin-login-content_link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.admin-login-content_link a:hover {
    color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .app-header_inner {
        flex-direction: column;
        gap: 15px;
    }

    .app-header_nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}
